<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FitBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=FitBot;Integrated Security=SSPI" />
  </connectionStrings>
  <applicationSettings>
    <FitBot.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value>TODO</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>TODO</value>
      </setting>
    </FitBot.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="ConsoleTraceListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>