<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FitBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Default" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=FitBot;Integrated Security=SSPI" />
  </connectionStrings>
  <applicationSettings>
    <FitBot.Properties.Settings>
      <setting name="FitocracyUsername" serializeAs="String">
        <value>TODO</value>
      </setting>
      <setting name="FitocracyPassword" serializeAs="String">
        <value>TODO</value>
      </setting>
      <setting name="SmtpServer" serializeAs="String">
        <value>TODO</value>
      </setting>
      <setting name="SmtpUsername" serializeAs="String">
        <value>TODO</value>
      </setting>
      <setting name="SmtpPassword" serializeAs="String">
        <value>TODO</value>
      </setting>
      <setting name="NotificationFrom" serializeAs="String">
        <value>TODO</value>
      </setting>
      <setting name="NotificationTo" serializeAs="String">
        <value>TODO</value>
      </setting>
    </FitBot.Properties.Settings>
  </applicationSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="ConsoleTraceListener" type="FitBot.Diagnostics.ColoredConsoleTraceListener, FitBot" />
        <add name="EventLogTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="FitBot">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning" />
        </add>
        <add name="EmailTraceListener" type="FitBot.Diagnostics.EmailTraceListener, FitBot">
          <filter type="System.Diagnostics.EventTypeFilter" initializeData="Error" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>